<table class="items-table">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Price</th>
			<th scope="col">QTY</th>
			<th scope="col">Store</th>
			<th scope="col">Category</th>
			<th></th>
			<th></th>
		</tr>
	</thead>	
	<tbody>

	<% items.forEach(item => { %>
	<tr data-item-id="<%=item.id %>">
		<td><%= item.name %></td>
		<td>$<%= (item.price/100).toFixed(2) %></td>
		<td><%= item.qty %></td>
		<td><%= item.store_name %></td>
		<td><%= item.category_name %></td>
		<td><button class="edit-button btn">Edit</button></td>
		<td><button data-id="<%= item.name %>" class="delete-button btn">Delete</button></td>
	</tr>
	<% }); %>
	</tbody>
</table>

