
  <%- include('header') %>
	<div class="container msg-feed"> 
	  <% msgs.forEach((msg) => { %>
	    <div class="card">
	    <div class="card-metadata">
	     <h3>@<%= msg.username %></h3>
	     <span><%= dateParser(msg.date) %></span>
	     </div>
	     <p><%= msg.message %></p>
	    </div>
	      <% }); %>

</div>

  <%- include('footer') %>

