<%- include("header") %>

<div class="full-page container center-horizontal">
	<div class="container">
		<h1 class="username"><%= user.username %></h1>
		<% if(currentUser.user_id === user.user_id ) { %>
			<p>This is your profile page.</p>
		<% }; %>
	</div>
	<div class="container">
		<h2><%= user.username %>'s <%= totalPosts %> post(s): </h2>
		<% allPosts.forEach((post) => { %>
			<div class="container">
			<p>"<%= post.message %>"</p>
			</div>
		<% }); %>
	</div>

</div>
<%- include("footer") %>
