<%- include('partials/header') %>
<body>
    <% if(currentUser) { %>
      <div class="container flex">
       <p> Hello <%= currentUser.username %> </p>
       <a href="/auth/logout">sign out</a>
	</div>

       <main>
           <div class="container">
		<div class="container flex">
		       <%- include('partials/newDirectory') %>
		       <%- include('partials/fileUpload') %>
		</div>


	       <%- include('partials/parentDirectories') %>
	       <%- include('partials/directoryListing') %>
	   </div>
       </main>
        <% } else {  %>
    <main>
	    <form action="/auth/login" method="post">
		<label for="username">Username</label>
		<input type="text" name="username">
		<label for="password">Password</label>
		<input type="password" name="password" id="password">
		<button type="submit">Submit</button>
		<a href="/auth/register">Click here to register</a>
	    </form>
    </main>


    <% } %>
<%- include('partials/footer') %>
